@charset "UTF-8";
/* colors watch */
:root {
  --back: #808080;
  --textcol: azure;
}
@font-face {
	font-family: "GostARegular";
	src: url("#{resource['watch:fonts/GostARegular.eot']}");
	src: url("#{resource['watch:fonts/GostARegular.eot']}&#iefix") format('embedded-opentype'),
       url("#{resource['watch:fonts/GostARegular.woff']}") format('woff'),
       url("#{resource['watch:fonts/GostARegular.ttf']}") format('truetype');
	font-style: normal;
	font-weight: normal;
}
* {
	padding: 0;
	margin: 0px;
}
body {
	background-color: var(--back);
	font-family: "GostARegular";
	text-transform: uppercase;
	}
sup {
  font-size: 20%;
}
span{
	font-size: 80%;
	margin: 20px auto;
}
.wrapper {
  display: grid;
  grid-template-rows: 33px 33px;
  grid-template-columns: 268px 268px;
  grid-column-gap: 50px;
  grid-row-gap: 22px;
  margin-top: 20px;
  margin-left: 26px;
  margin-right: 25px;
  justify-items: stretch;
  align-items: stretch;
}
.wrapper > div {
  font-size: 33px;
  padding: 0;
  margin: 0;
  
  color: var(--textcol);
  text-align: center;
  line-height: 33px;
}
.wrapper_1 {
  display: grid;
  grid-template-rows: 33px 33px;
  grid-template-columns: 160px 160px;
  grid-column-gap: 160px;
  margin-top: 22px;
  margin-bottom: 0px;
  margin-left: 80px;
  justify-items: stretch;
	align-items: stretch;
}
.wrapper_1 > div {
 	font-size: 250%;
  padding: 0;
  margin: 0;
  
  color: var(--textcol);
  text-align: center;
  line-height: 33px;
}
.wrapper_2 {
  display: grid;
  grid-template-rows:repeat(7, 33px);
  grid-template-columns: 120px 120px 143px 120px;
  grid-column-gap: 28px;
  grid-row-gap: 22px;
  margin-left: 26px;
  justify-items: stretch;
	align-items: stretch;
  }
.box1 {
 font-size: 200%;
  padding: 0px;
  margin: 0;
  
  color: var(--textcol);
  text-align: center;
  line-height: 33px;
}
.box2 {
  font-size: 200%;
  padding: 0px;
  margin-left: 23px;
 
  color: var(--textcol);
  text-align: center;
  line-height: 33px;
}
.box9 {
  font-size: 200%;
  padding: 0px;
  margin-left: 23px;
  background: dimgray ;
  color: var(--textcol);
  text-align: center;
  line-height: 33px;
}
.box7 {
  font-size: 100%;
  padding: 0px;
  margin-left: 23px;
  
  color: var(--textcol);
  text-align: center;
  line-height: 16px;
}
.box8 {
  font-size: 100%;
  padding: 0px;
  margin: 0;
  
  color: var(--textcol);
  text-align: center;
  line-height: 33px;
}
.box10 {
  font-size: 130%;
  padding: 0px;
  margin: 0;
  
  color: var(--textcol);
  text-align: center;
  line-height: 16px;
}
.box11 {
  font-size: 180%;
  padding: 0px;
  margin: 0;
  
  color: var(--textcol);
  text-align: center;
  line-height: 33px;
}
.wrapper_3 {
  display: grid;
  grid-template-columns: 60px 60px 88px 60px;
  grid-template-rows: 33px;
  grid-column-gap: 88px;
  margin: 22px 0px 0px 56px;
  justify-items: stretch;
	align-items: stretch;
  }
.box4 {
  font-size: 200%;
  padding: 0;
  margin: 0;
  
  color: var(--textcol);
  text-align: center;
  line-height: 33px;
}
.box5 {
  font-size: 200%;
  padding: 0;
  margin-left: 28px;
  
  color: var(--textcol);
  text-align: center;
  line-height: 33px;
}
.box1111{
  line-height: 40px;
}
.box222{
  font-size: 50%;
  line-height: 18px;
}
.sm {
	text-transform: lowercase;
	font-size: 100%;
	margin: 20px auto;
}