@charset "UTF-8";
/* colors watch */
:root { -
	-back: #808080; -
	color:azure;
}

@font-face {
	font-family: "GostARegular";
	src: url("#{resource['watch:fonts/GostARegular.eot']}");
	src: url("#{resource['watch:fonts/GostARegular.eot']}&#iefix")
		format('embedded-opentype'),
		url("#{resource['watch:fonts/GostARegular.woff']}") format('woff'),
		url("#{resource['watch:fonts/GostARegular.ttf']}") format('truetype');
	font-style: normal;
	font-weight: normal;
}

* {
	padding: 0; 
	margin: 0px;
}

body {
	background-color:black;
	font-family: "GostARegular";
	text-transform: uppercase;
	color:azure;
  	text-indent: 2px;
  
}

sup {
	font-size: 20%;
}
span{
	font-size:80%;
}

.wrapper {
	display: grid;
    grid-template-rows: 35px 35px;
    grid-template-columns: repeat(4, 140px);
    grid-column-gap: 16px;
    grid-row-gap: 9px;
    margin-top: 6px;
    margin-left: 11px;
    justify-items: stretch;
    align-items: stretch;
}

.wrapper>div {
	padding: 0;
  	margin: 0;
  	background: #808080;
  	color: var(- -textcol);
  	text-align: center;
}

.wrapper_1 {
	display: grid;
    grid-template-rows: 35px 35px;
    grid-template-columns: 160px 160px;
    grid-column-gap: 168px;
    margin-top: 9px;
    margin-bottom: -35px;
    margin-left: 71px;
    justify-items: stretch;
    align-items: stretch;	
}

.wrapper_1>div {	
	font-size: 180%;
  	padding: 0;
  	margin: 0;
  	background: #808080;
  	color: var( -textcol);
  	text-indent: 40px;
    line-height: 35px;
}

.before_namaz {
	display: grid;
    grid-template-rows: repeat(1, 34px);
    grid-template-columns:repeat(6,88px);
    grid-column-gap: 16px;
    grid-row-gap: 10px;
    margin-top: 10px;
    margin-left: 11px;
    justify-items: stretch;
    align-items: stretch;
}
.before_namaz> div{
	padding: 0;
  	margin: 0;
  	background:#808080;
  	text-align: center;
	}
.table {
	display: grid;
    grid-template-rows: repeat(6, 34px);
    grid-template-columns: 192px 88px 192px 88px;
    grid-column-gap: 16px;
    grid-row-gap: 10px;
    margin-top: 18px;
    margin-left: 11px;
    justify-items: stretch;
    align-items: stretch;
}
.table_2, .table_1 {
		display: contents;
		border-spacing: 0;
		border-collapse: collapse;
		border: none;
}
.table_2 tbody{
	display: grid;
	grid-template-rows: repeat(6, 34px);
	grid-template-columns: 88px 88px;
	justify-items: stretch;
	align-items: stretch;
	grid-column-gap: 16px;
    grid-row-gap: 10px;
}

.table_2 .column1 {
	grid-column-start: 1;
	grid-column-end: 2;
	padding: 0;
  	margin: 0;
 	background:#808080;
  	color: azure;
  	text-align: center;
}

.table_2 .column2 {
	grid-column-start: 2;
	grid-column-end: 3;
	padding: 0;
  	margin: 0;
 	background:#808080;
  	color: azure;
  	text-align: center;
  	font-size: 24px;
}
.table_2 .row {
	display: contents;
	padding: 0px;
	margin: 0;
	color: var(- -textcol);
	text-align: center;
	line-height: 33px;
	/* font-size: 24px; */
  	line-height: 35px
}

.table_1 tbody{
	display: grid;
	grid-template-rows: repeat(6, 34px);
	grid-template-columns: 88px;
	justify-items: stretch;
	align-items: stretch;
	grid-column-gap: 16px;
    grid-row-gap: 10px;
}

.table_1 .column1 {
	grid-column-start: 1;
	grid-column-end: 2;
	padding: 0;
  	margin: 0;
 	background:#808080;
  	color: azure;
  	text-align: center;
}

.table_1 .row {
	display: contents;
	padding: 0px;
	margin: 0;
	color: var(- -textcol);
	text-align: center;
	line-height: 33px;
  	line-height: 35px;
}

.wrapper_3 {
	display: grid;
    grid-template-columns: repeat(6, 48px);
    grid-template-rows: 34px;
    grid-column-gap: 56px;
    margin: 9px 32px;
    justify-items: stretch;
    align-items: stretch;
}

.wrapper_3>div {
	font-size: 130%;
	padding: 0;
	margin: 0;
	background: #808080;
	color: var(- -textcol);
	text-align: center;
}
.temptable {
	display: grid;
	grid-template-columns: 60px 60px 88px 60px;
	grid-template-rows: 34px;
	grid-column-gap: 88px;
	margin: 22px 0px 0px 56px;
	justify-items: stretch;
	align-items: stretch;
}

.sm {
	text-transform: lowercase;
	font-size: 100%;
	margin: 20px auto;
}

.low {
	text-transform: lowercase;
}
.date_box {
	font-size: 24px;
    line-height: 35px;
}

.box1 {

	line-height: 35px;
}

.box2 {
	font-size: 15px;
    line-height: 17px;
}

.box3 {

	line-height: 35px;
}

.box4 {
	font-size: 18px;
	line-height: 25px;
}
.box5{
	line-height:35px;
}

.box8 {
	font-size: 24px;
	line-height: 35px;
	text-indent: 2px;
}

.box9 {
	line-height: 25px;
}

.box10 {
	line-height: 35px;
}
.box11{
	font-size:24px;
}
.box12{
	font-size:21px;
}
.box13{
	font-size:16px;
	line-height: 35px;
}
.box14{
	font-size:24px;
	line-height: 35px;
	
}
.box15{
	line-height: 15px;
}
.box16{
	font-size:18px;
}

